:root {
  --font-weight-regular: 400;

   /* colors */
  --primary: #5d8cd1;
  --blue-dark: #1E90FF;
  --white: #FFF;
  --dark-white: #f3f5f9;
  --background: ;
  --grey: #646368;
  --light-grey: #f6f9fb;
  --medium-grey: #BDBDBD;

  /* Font Size */
  --text-xs:  0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1.375rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2lg: 2rem;
}

* {
  margin:  0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Quicksand', sans-serif;
}


body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 1280px;
  min-height: 100vh;
  background-color: var(--light-grey);
  color: var(--grey);
}
